In [ ]:
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*  
'hello'
-87.8
- 
/ 
+	
6 
'''Ans : Values = 'hello',-87.8,6 
       expression = *,-,/,+'''

In [ ]:
#2. What is the difference between string and variable?
Ans = A Variable is used to store of information, and a String is
a type of information you would store in a Variable.
A String is a group of characters or a single character
usually enclosed in Double quotes " " or single quotes ' '.

In [ ]:

#3. Describe three different data types.
Ans = The three different data types are integer, float and complex
1. Integer data type : We can use integer data type to represent whole number(integral values).
2. float data type : We can use float data type to represent floating point values (decimal values).
3. complex data type : Complex number is represented by complex class, It is specified by (real part)+(imaginary part)j.

In [3]:
#eg for integer data
int = 354654
print (int)
#eg for float data
float = 14.5
print (float)
#eg for complex data
complex = 3+4j
print (complex)

354654
14.5
(3+4j)

In [ ]:
#4. What is an expression made up of? What do all expressions
Ans = An expression is combination of values,variable,operators and calls to function. Expression need to be evaluated.
If we ask Python to print an expression, entrepretor evaluates the expression and displays the result.

In [8]:
#eg for all some expression and their result
5*4+20-40

0

In [13]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
'''Ans = An expression is a combination of values, variable, and operators. When we type an expression at the prompt, the 
entrpreters evaluates it, which means it finds the value of expression

eg. 4*5+20-40 is an eg of statement 

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement,
the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

eg: variable declaration and assignment are statements because they do not return a value.
'''
#Example:
4*5+20-40 # Is a Expression
courseName = 'INeuron FullStack DataScience' # Is a Statement
print("Hello World !") # Is a Expression Statement

Hello World !

In [1]:
#6 After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [ ]:
Ans = The variable  bacon contain 23  as per the given code.

In [2]:
#7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

In [ ]:
Ans = The values of given two terms is 'spamspamspam'.

In [8]:
#8. Why is eggs a valid variable name while 100 is invalid?
'''Ans = As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

1.Variable name must start with a letter or the underscore character.
2.Variable name cannot start with a number.
3.Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
4.Variable names are case-sensitive (name, INEURON and ineuron are three different variables).
5.The reserved words(keywords) cannot be used naming the variable.'''

#example
eggs = "ineuron" 3
100 = "deep"
print (eggs)
print (100)

SyntaxError: cannot assign to literal (Temp/ipykernel_28432/2296138319.py, line 10)

In [ ]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?
'''Ans= int(),float(),str()'''

In [1]:
#10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [7]:
'i have eaten ' +  str (99)  + ' burritos'

'i have eaten 99 burritos'

In [ ]:
Ans = Because 99 is not a string  . The correct code is "i have eaten " + str (99) + " burritos"